# =============================
# Virtual Environment
# =============================
venv/

# =============================
# Dataset
# =============================
data/

# =============================
# Model Checkpoints
# =============================
*.pth
models/checkpoint_ResNet18/

# =============================
# Python Cache
# =============================
__pycache__/
*.pyc

# =============================
# VS Code
# =============================
.vscode/

# =============================
# System files
# =============================
.DS_Store
Thumbs.db
